
/*{outline: 1px solid rgba(255,0,0,0.1);}/* Inserta tu codigo aqui */

body{font-family: "OpenSans-Light",Helvetica;
}
.head{
    position: fixed;
    width: 100%;
    z-index: 1000;
    opacity: 0.8;
    color: #000000;
}
.head ul li a{
    text-decoration: none; 
}
.header img{
  width: 80px;
  margin-left: 40px;
}
.semilla{
  background: url("../img/semilla.jpg") no-repeat;
  background-size: cover;
  height: 350px;
  background-position: center;
  margin-right: -14px;
}   
.contenido{
  background-color: #f2f2f2;
  padding: 5%;
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
}
.head div ul li{display: inline-block; padding:0px 20px 0px 20px; border-right: 1px solid #9E9E9E;}
.head div ul li a{text-decoration: none;}
.head div ul li:last-child{border-right: none;}
.head div ul{padding-top: 30px; padding-bottom: 30px;}
.proyectos{
  background: #5E8039;
  text-align: center;
  margin-bottom: 30px;}

.proyecto1 {
  margin-top:100px; 
}
.proyecto1 div img{
  width: 450px;
  height: 300px;
}
.MisionVision{
  margin-top: 50px;
  margin-bottom: 50px;
}
.MisionVision img{
  width:20%; 
  height:20%;
}
                         
.Metodologia{
  width: 100%;
  height: 300px;
  background-image: url(../img/fondo.jpg);
}
.division{
  background-image: url(../img/metodo.JPG);
  background-size: cover;
  height: 300px;
}
.division1 img{
  margin-top: 70px;
  margin-bottom: 30px;
}
.servicios-icon img{
  width: 25%;
}
.caja li{
  font-size:12px;
  width: 30%;
  display: inline-block;
  vertical-align: text-top;
  margin: 10px;
}
.caja h3{
  padding-top: 3px;
}
.pie li{
  display: inline-block;
  width: 20%;
}
.contacto img{
  width: 30px;
  height: 30px; 
}
.proyecto2 div img{
  width: 450px;
  height: 300px;
}
.proyecto1 h3{
  text-align: left;
  font-size: 20px;
  margin-left: 85px;
  margin-top:40px;
}
.proyecto1 h6{
  width: 350px;
  margin-left: 140px;
}
.servicios div ul li p{ padding: 30px; font-size: 15px;}
/*Blog*/
.blog {background-image: url("../img/fondo2.jpg");}
.titulo h1{margin-left: 50px;text-align: left;}
.textos ul li div p:last-child{list-style-type: none;text-align: left;}
.textos img{width: 300px; height: 200px;margin: auto 20px;margin-bottom: 5px;} 
/* .textos ul li {min-height: 350px; margin-top: 0px;}*/
.textos h4, .textos p{margin-top: 0px;text-align: left; margin-left: 20px}
/*.textos ul li  {list-style-type: none;width: 300px;margin: 40px auto;font-size: 13px;}*/
.Equipo p{
  font-size: 12px;
}
.Equipo img{
  border-radius:50%;
  width: 40%;
}
.icons li{
  display: inline-block;
}
.caller{
  width: 20%;
}
.redes{
  width: 100%;
  height: 300px;
  background-color: #4D4D4D;
  border: 1px solid #fff; 
}
.box img{
  padding-top: 80px;
  width: 40px;
  position: relative;
  left: 20px;

}
.box{
  width: 250px;
  height: 210px;
  display:inline-block;
  border: 1px solid #ffffff;
}
